<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <center>
        <h3><a href="/">Home</a> |
            <a href="/projects">Projects</a> |
            <a href="/contact">Contact</a>
        </h3>
        <img src="~/images/iroh.PNG" alt="poison? or delectable tea?" height="300" width="350">
        <h1>Call me Maybe?</h1>

        <p>Name: <input type="text"></p>
        <p>Email: <input type="email"></p>
        <p>Phone Number: <input type="text"></p>
        <p>Message:</p><textarea name="Message" id="Message" cols="30" rows="10"
            placeholder="Leave me a message..."></textarea>
        @* <br><input type="submit" value="Send"> *@
        <a href="/"> <button>Send </button> </a>
    </center>
</body>

</html>