<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
div.roll {
  background-color: lightblue;
  width: 500px;
  height: 180px;
  overflow: scroll;
}

</style>

</head>

<body>
    <center>

    <h3><a href="/">Home</a> |
        <a href="/projects">Projects</a> |
        <a href="/contact">Contact</a>
    </h3>
    <h1>Here are some projects of mine!</h1>
    <div class="roll">
        <div>
            <h5>Paddle-Waddle</h5>
            <p>Now this is the story all about how
                My life got flipped, turned upside down
                And I'd like to take a minute, just sit right there
                I'll tell you how I became the prince of a town called Bel-Air</p>
        </div><br>
        <div>
            <h5>Lawn Darts</h5>
            <p>In West Philadelphia born and raised
                On the playground is where I spent most of my days
                Chilling out, maxing, relaxing all cool
                And all shooting some b-ball outside of the school
                When a couple of guys, who we're up to no good
                Started making trouble in my neighbourhood
                I got in one little fight and my mom got scared
                And said, you're moving with your aunty and uncle in Bel-Air</p>
        </div><br>
        <div>
            <h5>Banana Boat</h5>
            <p>I pulled up to a house about seven or eight
                And I yelled to the cabby yo, holmes smell you later
                Looked at my kingdom, I was finally there
                To sit on my throne as the Prince of Bel-Air</p>
        </div>
    </div>
    </center>
</body>

</html>